html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #EBEBEB;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	display: block;
}


#header-img {
	background-image: url('../images/shop-list.png');
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
	background-color: #ffdb88;
	margin-bottom: 5px;
	margin: 0 auto;
}

.header {
	background-color: #ffdb88;
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
}

.content {
	margin: 0 auto;
	display: block;
}

.content ul{
	display: block;
	text-align: center;
	width: 250px;
	margin: 0 auto;
	padding: 0;
}


.shoppinglist .add:before {
	content: url('../images/plus-sign.png');
}

.shoppinglist li span {
    color: #333;
    vertical-align: middle;
    margin-left: -8px;
}


.shoppinglist li {
	padding: 5px 0px;
	border: 1px solid black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
	color: #333333;
	border-radius: 25px;
	height: 40px;
	margin: 10px 0px;
	-webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
}

.shoppinglist li:before {
	content: url('../images/red-x.png');
	height: 30px;
 	width: 30px;
 	float: left;
  	margin-left: 8px;
  	margin-top: -2px;
}

.shoppinglist li.add:before {
	content: url('../images/plus-sign.png');
}


ul {
	list-style-type: none;
}


h1 {
	color: #4C4C4D;
	font-family: 'Abel', sans-serif;
	font-weight: bolder;
	font-size: 3em
}
.reset-button {
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 5px;
}
 .new-item {
	background-color: #ffffff;
	margin-top: 10px;
}


ul .item-1, .item-2, .item-3  {
	background-color: #999999;
	color:#B0B0B0;
}

ul .item-4, .item-5  {
	background-color: #999999;
	text-decoration: line-through;
}

ul li span {
    margin-right: 15px;
}



